div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}

#tangy-red {
  border-top-color: #f00;
}

#orange {
  border-top-color: rgba(236,114,28,1);
}

#yellow {
  border-top-color: rgba(255,243,63,1);
}

#green {
  border-top-color: rgba(51,185,28,1);
}

#dark-green {
  border-top-color: rgba(42,151,254,1);
}

#purple {
  border-top-color: rgba(55,23,169,1);
}

#red {
  border-top-color: rgba(167,27,194,1)
}
